aside ul {
    width: 90%;
}

.president-list-items {
    background: lighten($black, 95%);
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    transition: background .3s ease-in;
    &::before {
        content: "●";
        font-size: 1em;
        margin-right: 8px;
    }
    &:hover {
        background: lighten($black, 80%);
    }
}

.p-online .president-list-items::before {
    color: #94F6D3;
}

.p-idle .president-list-items::before {
    color: #fcd7a1;
}

.p-away .president-list-items::before {
    color: #cfd8d4;
}
