aside ul {
    width: 90%;
}

.president-list-items {
    background: $main-bg;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    &::before {
        content: "●";
        font-size: 1em;
        margin-right: 8px;
    }
}

