// Colors

$white: #FFF;
$black: #000;

$bg: #70c0d1;
$main-bg: #d9e3e5;
$header: #78828c;
$btn: #75e0c0;

$main-font: 'Varela Round', sans-serif;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
